
<!DOCTYPE html>
    <html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="/styles.css">

        {% block head %}
            <title>Rafael Almeida</title>
        {% endblock %}

    </head>
    <body>
        <header>

            <div class="links">
                <a href="/">Sobre</a><!--Toda vez que coloco a barra estou me referenciando à página índice.html-->
                <a href="/portfolio">Portfólio</a>
            </div>

        </header>

        <!--Criando minha referência para a template engine
         Vale ressaltar que essa referência vai ser dinâmica, isto é,
         onde eu chamar essa referência, passando um conteúdo, ele vai entender-->

        {% block content %}{% endblock %}

    </body>

</html>